*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
    background-color: #eff6ff; /* light blue background */
}

p{
    color: grey;
    background: #eff6ff;
}

#heading {
    text-transform: uppercase;
    color: #7e0909;
    font-weight: bolder;
    background: #eff6ff;
}

#msform{
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: #eff6ff;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: center;
    background-color: #eff6ff; /* light blue background for the form card */
}

#msform fieldset:not(:first-of-type){
    display: none;
}

/* Style untuk elemen <p> dengan kelas paragraf-1 */
.paragraf-1 {
    text-align: left; /* Menyelaraskan teks ke kiri */
    font-size: 18px; /* Menentukan ukuran font */
    color: #333; /* Warna teks */
    margin-bottom: 10px; /* Spasi di bawah paragraf */
    font-weight: bold; /* Menjadikan teks tebal */
}

/* Mengatur lebar dan padding pada kolom vertikal */
.col-vertical {
    width: 100%; /* Membuat kolom mengambil lebar penuh kontainer */
    margin-bottom: 15px; /* Spasi antara kolom */
}


/* Mengatur padding dan border pada input dan textarea */
#msform input, #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #2C3E50;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: px solid #7e0909;
    outline-width: 0;
}

#msform .action-button{
    width: 100px;
    background: #7e0909;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}
#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

/* Ensure the parent container uses flexbox and stacks items vertically */
.row-vertical {
    display: flex;
    flex-direction: column;
}

.col-vertical {
    width: 100%; /* Ensure each column takes the full width of the parent */
   
}

#msform input, #msform textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; /* Full width of the parent container */
    box-sizing: border-box;
    background-color: #eff6ff;
    font-size: 16px;
    letter-spacing: 1px;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
    display: none; /* Hide feedback messages by default */
    text-align: left; /* Menyelaraskan teks ke kiri */
}

.is-invalid + .invalid-feedback {
    display: block; /* Show feedback message if the field is invalid */
}

.card {
    z-index: 0;
    border: none;
    position: relative;
    background: #eff6ff; /* ensure card background is also light blue */
}

.fs-title {
    font-size: 25px;
    color: #7e0909;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #7e0909;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #7e0909
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #location:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../img/1.svg');
    background-size: cover;
    margin: 0 auto 10px auto;
}

#progressbar #paket:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../img/2.svg');
    background-size: cover;
    margin: 0 auto 10px auto;
}

#progressbar #personal:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../img/3.svg');
    background-size: cover;
    margin: 0 auto 10px auto;
}

#progressbar #confirm:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../img/4.svg');
    background-size: cover;
    margin: 0 auto 10px auto;
}

#progressbar li:before {
    background: lightgray;
    border-radius: 50%;
    padding: 2px;
}

#progressbar li.active:before {
    background: #7e0909;
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #7e0909
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #7e0909
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.image-brosur {
    display: grid; /* Menggunakan grid */
    place-items: center; /* Menyelaraskan secara horizontal dan vertikal ke tengah */
    height: 480px; /* Menentukan tinggi kontainer */
    max-width: 150%; /* Membuat gambar menyesuaikan lebar kontainer */
    margin-top: -60px;
    margin-bottom: -20px;
    border-radius: 40px; /* Menambahkan border-radius */
    overflow: hidden; /* Menyembunyikan bagian gambar yang melebihi border-radius */
}

.image-brosur img {
    max-width: 100%; /* Membuat gambar menyesuaikan lebar kontainer */
    height: auto; /* Memastikan aspek rasio gambar tetap */
    max-height: 100%; /* Menentukan tinggi maksimum gambar */
    border-radius: 40px; /* Menambahkan border-radius pada gambar */
}

.fs-aja {
    margin-top: 80px;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    margin: 5px;
    margin-bottom: 15px;
}

.fs-ajaa {
    margin-top: 80px;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    margin: 5px;
    margin-bottom: 15px;
}

.info-link {
    color: red;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.location-texted {
    color: grey;
    text-align: center;
    width: 100%;
    margin: auto;
}
/* CSS untuk gambar pada langkah-step */
.icon-step img {
    max-width: 900px; /* Ubah sesuai dengan ukuran yang diinginkan */
    display: block;
   
}

/* section location */
.location {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

.location h1 {
    font-size: 28px;
    font-weight: bold; /* Membuat teks h1 menjadi tebal */
    margin-bottom: 10px;
}

.location p {
    font-size: 20px;
    color: #555;
}


.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Menyelaraskan konten secara horizontal di tengah */
    text-align: center; /* Menyelaraskan teks di tengah */
}

/* Individual spacing for text elements */

   

/* Additional spacing for other elements if needed */
.icon-step img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}


.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* Rasio aspek 16:9 (9 / 16 * 100) */
    height: 0; /* Mengatur tinggi 0 untuk menjaga rasio aspek */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
    display: none; /* Sembunyikan pesan peringatan secara default */
}

.is-invalid + .invalid-feedback {
    display: block; /* Tampilkan pesan peringatan jika field memiliki kelas is-invalid */
}

/* Style untuk form-group */
.form-group {
    margin-bottom: 20px; /* Jarak antara input */
    text-align: left; /* Menyelaraskan label ke kiri */
}

.form-group label {
    display: block; /* Menampilkan label sebagai blok untuk jarak yang lebih baik */
    font-size: 16px; /* Ukuran font untuk label */
    margin-bottom: 5px; /* Jarak antara label dan input */
    color: #333; /* Warna teks untuk label */
}

#msform input, #msform textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; /* Lebar penuh dari kontainer */
    box-sizing: border-box;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
    display: none; /* Sembunyikan pesan peringatan secara default */
}

.is-invalid + .invalid-feedback {
    display: block; /* Tampilkan pesan peringatan jika field memiliki kelas is-invalid */
}

.next, .previous {
    margin-top: 20px; /* Jarak antara tombol dan elemen sebelumnya */
}

.action-button, .action-button-previous {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.action-button {
    background-color: #7e0909;
    color: #fff;
}

.action-button-previous {
    background-color: #616161;
    color: #fff;
}

.action-button:hover {
    background-color: #5c0707;
}

.action-button-previous:hover {
    background-color: #4a4a4a;
}

/* CSS KU */
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .photo-container {
    padding: 10px;
  }
  
  .photo-container img {
    width: 100%;
    max-width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  

/* Add a more prominent border to the specific fieldset */

.form-card-baru {
    text-align: center;
    background-color: #f9f9f9; /* light blue background for the form card */
}

.blue-border-fieldset {
   
    border-radius: 10px;     /* Optional: Rounded corners */
    padding: 20px;          /* Optional: Padding inside the border */
    background-color: #f9f9f9; /* Optional: Background color inside the border */
    margin-bottom: 20px;    /* Optional: Margin below the fieldset */
    box-shadow: 0 8px 8px rgba(0, 0, 255, 0.2); /* Optional: Subtle shadow for added emphasis */
}

.blue-border-fieldset .form-card {
    padding: 15px; /* Adjust as needed */
}

.image-info img {
    border-radius: 15px; /* Mengatur melengkungnya tepian gambar */
    width: 100%;
    height: auto;
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    margin-right: 100px; /* Jarak antar pilihan */
}

.form-check-input {
    margin-right: 10px; /* Jarak antara checkbox dan label */
}

.image-warn img {
    border-radius: 15px; /* Mengatur melengkungnya tepian gambar */
    width: 100%;
    height: auto;
}
.required {
    color: red;
}


/* detailpaket */

 
body, h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Poppins', sans-serif;
}

/* Custom styling */
.header h1 {
    font-weight: 600; /* Ensuring boldness matches */
}

.header p, .price p, .detail-section p {
    font-weight: 400;
}


/* Styling for the button */
.detail-section-b .btn {
    font-weight: 700;               /* Menetapkan ketebalan font */
    background-color: #7e0909;      /* Warna latar belakang button */
    color: white;                   /* Warna teks button */
    border: none;                   /* Menghapus border default */
    border-radius: 0px;             /* Radius sudut button (ubah sesuai kebutuhan) */
    padding: 5px 20px;             /* Padding untuk ukuran button */
    text-transform: uppercase;      /* Mengubah teks menjadi huruf kapital */
    font-size: 16px;                /* Ukuran font button */
    transition: background-color 0.3s ease, color 0.3s ease; /* Efek transisi */
}

.detail-section-b .btn:hover {
    background-color: #a53030;      /* Warna latar belakang saat hover */
    color: #fff;                    /* Warna teks saat hover */
}


/* Styling for icons */
.detail-section .fa {
    font-size: 24px; /* Adjust icon size */
    color: #808080; /* Icon color */
    margin-right: 10px; /* Space between icon and text */
    vertical-align: middle; /* Align icon with text */
    padding-top: 10px; /* Adjust icon position */
}

/* Styling for paragraphs */
.detail-section p {
    margin-bottom: 0; /* Remove bottom margin */
}

/* Styling for price */
.price p {
    font-weight: bold; /* Make text bold */
    font-size: 18px; /* Adjust font size */
    margin: 0; /* Remove default margin */
    background-color: transparent; /* Ensure no background color */
}

/* Styling for text section */
.text-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to left */
    justify-content: center; /* Center text vertically */
}

.text-section h1 {
    margin: 0; /* Remove margin */
    font-size: 28px; /* Adjust font size */
    font-weight: 600; /* Make text bold */
}

.text-section p {
    margin: 0; /* Remove margin */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make text bold */
    background-color: white;
}

/* Styling for total text */
.total-text {
    margin-left: 10px; /* Space from left */
    font-weight: bold; /* Make text bold */
    font-size: 50px; /* Adjust font size */
}
.detail-section p {
    background-color: white;
}

.detail-section-b .total-text {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
}

.detail-section-b .btn-danger {
    background-color: #7e0909;
    border-color: #7e0909;
    font-size: 1.2rem;
    padding: 10px 15px; /* Atur padding jika perlu */
    width: 540px; /* Sesuaikan lebar tombol */
    text-align: center; /* Pastikan teks tombol terletak di tengah */
    margin-right: 15px; /* Space from left */
}

.detail-section-b .total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

/* Tambahkan gaya untuk tombol dengan sudut melengkung */
.btn-danger {
   
    padding: 10px 10px; /* Sesuaikan padding jika diperlukan */
}


/* Anda bisa menambahkan gaya tambahan jika diperlukan */
.total-text {
    font-size: 18px; /* Sesuaikan ukuran font jika diperlukan */
}
/* Styling untuk tautan Previous */
.previous {
    text-decoration: none; /* Menghilangkan underline */
    color: #555; /* Warna teks default */
    padding: 10px 20px; /* Mengatur padding untuk meningkatkan area klik */
    border-radius: 4px; /* Memberikan border-radius untuk sudut melengkung */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transisi efek latar belakang dan warna teks */
}

.previous:hover {
    background-color: #cecbcb !important; /* Warna latar belakang saat hover (abu-abu muda) */
    color: #333 !important; /* Warna teks saat hover */
}

/* step4 */
body {
    font-family: 'Poppins', sans-serif;
}

.required-asterisk {
    color: red;
    margin-left: 5px;
}

.schedule-title {
    white-space: nowrap;
    font-size: 30px; /* Adjust the size as needed */
    font-weight: 600;
    margin-bottom: 10px;
}

label {
    font-size: 14px; /* Adjust the size as needed */
    font-weight: 500;
}

.form-control {
    font-size: 14px;
    font-weight: 400;
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="date"],
input[type="number"],
input[type="text"] {
    -webkit-appearance: none; /* untuk Chrome, Safari, dan Edge */
    -moz-appearance: none;    /* untuk Firefox */
    appearance: none;
    outline: none;
    box-shadow: none;
}


input[type="text"] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b4cdce;
}
/* Gaya untuk elemen form */
.form-group {
    margin-bottom: 15px;
}

/* Gaya untuk input tanggal */
input[type="date"] {
    padding: 5px;
    font-size: 16px;
}

/* Gaya untuk tombol */
.action-button-previous,
.action-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

/* Gaya untuk notifikasi */
.notification {
    display: none;
    background-color: #f44336; /* Warna latar belakang merah untuk notifikasi error */
    color: white; /* Warna teks putih */
    padding: 10px;
    margin-bottom: 10px; /* Jarak di bawah notifikasi */
    border-radius: 5px;
    text-align: center;
    width: 100%;
    position: absolute; /* Posisi absolut untuk menempatkan notifikasi di atas tombol */
    top: -60px; /* Jarak dari atas, sesuaikan sesuai kebutuhan */
}

.pengganti-body {
    background-color: #eff6ff !important; /* Use !important if necessary to ensure it overrides other styles */
}

/* detail1 */
.total-textbt {
    margin-top: 10px; /* Space from top (adjust as needed) */
    margin-left: 20px; /* Space from left */
    font-weight: bold; /* Make text bold */
    font-size: 20px; /* Adjust font size */
  
}
.detail-sectionbt p {
    background-color: white;
}
.detail-section-bt{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0;
}
.detail-section-b .btn-danger {
    background-color: #7e0909;
    border-color: #7e0909;
    font-size: 1.3rem;
    font-weight: bold; /* Make text bold */
    width: 580px; /* Sesuaikan lebar tombol */
    text-align: center; /* Pastikan teks tombol terletak di tengah */
    padding-left: 10px;
}
.detail-section-bt .btn {
    font-weight: 600;               /* Menetapkan ketebalan font */
    background-color: #7e0909;      /* Warna latar belakang button */
    color: white;                   /* Warna teks button */
    border: none;                   /* Menghapus border default */
    border-radius: 0px;             /* Radius sudut button (ubah sesuai kebutuhan) */
    padding: 10px 15px;             /* Padding untuk ukuran button */
    text-transform: uppercase;      /* Mengubah teks menjadi huruf kapital */
    /* font-size: 18px;                Ukuran font button */
    transition: background-color 0.3s ease, color 0.3s ease; /* Efek transisi */
    margin-right: 15px; /* Space from left */
}

.detail-section-bt .btn:hover {
    background-color: #a53030;      /* Warna latar belakang saat hover */
    color: #fff;                    /* Warna teks saat hover */
}
.detail-section-bt .total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

/* button
.disabled {
    opacity: 0.5;
    pointer-events: none;
} */ 
/* .hidden {
    display: none;
} */


/* Mengatur gambar berada di tengah dan mengatur ukurannya */
.image-ilustrasi {
    display: flex;
    justify-content: center;
}

.image-ilustrasi img {
    margin-top: 20px;
    max-width: 50%; /* Ukuran maksimal gambar, sesuaikan sesuai kebutuhan */
    height: auto; /* Menjaga rasio aspek gambar */
}

/* Tambahkan padding pada step-card untuk memberikan jarak antara konten dan tepi card */


/* Jika Anda ingin menambahkan jarak khusus antara gambar dan teks dalam step-card */
.step-card p {
    margin-top: 10px; /* Atur jarak sesuai keinginan */
}
.step-card {
   
    padding: 20px; /* Jarak antara border dan konten teks */
    border-radius: 15px; /* Menambahkan sudut melengkung pada border */
    background-color: rgba(255, 255, 255, 0.2); /* Warna latar belakang transparan untuk kontras */
    margin: 20px 0; /* Jarak antara kartu dengan elemen lain */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan pada kartu */

}


.required-asterisk {
    color: red;
    margin-left: 5px;
    margin-right: 10px;
}

.schedule-title {
    white-space: nowrap;
}

h2#heading {
    font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
    white-space: nowrap; /* Memastikan teks tidak membungkus */
    font-weight: 600; /* Mengatur ketebalan teks, bisa disesuaikan */
    font-size: 30px; /* Ukuran font, bisa disesuaikan */
}

h2.fs-aja {
    font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
    white-space: nowrap; /* Memastikan teks tidak membungkus */
    font-weight: 600; /* Mengatur ketebalan teks, bisa disesuaikan */
    font-size: 25px; /* Ukuran font, bisa disesuaikan */
    text-align: center; /* Memastikan teks berada di tengah */
}

.action-button {
    visibility: visible !important;
    opacity: 1 !important;
}