*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html{
    height: 100%;
}

p{
    color: grey;
}

#heading{
    text-transform: uppercase;
    color: #7e0909;
    font-weight: bolder;
}

#msform{
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset{
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card{
    text-align: center;
}

#msform fieldset:not(:first-of-type){
    display: none;
}

#msform input, #msform textarea{
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: px solid #7e0909;
    outline-width: 0;
}

#msform .action-button{
    width: 100px;
    background: #7e0909;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}
#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #7e0909;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #7e0909;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #7e0909
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #location:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../img/1.svg');
    background-size: cover;
    margin: 0 auto 10px auto;
}

#progressbar #personal:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../img/2.svg');
    background-size: cover;
    margin: 0 auto 10px auto;
}

#progressbar #payment:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../img/3.svg');
    background-size: cover;
    margin: 0 auto 10px auto;
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    background: lightgray;
    border-radius: 50%;
    padding: 2px;
}

#progressbar li.active:before {
    background: #7e0909;
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #7e0909
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #7e0909
}

.fit-image {
    width: 100%;
    object-fit: cover
}

/* brosur image */
.image-brosur {
    display: grid; /* Menggunakan grid */
    place-items: center; /* Menyelaraskan secara horizontal dan vertikal ke tengah */
    height: 480px; /* Menentukan tinggi kontainer */
    max-width: 150%; /* Membuat gambar menyesuaikan lebar kontainer */
    margin-top: -60px;
    margin-bottom: -20px;
}

.image-brosur img {
    max-width: 100%; /* Membuat gambar menyesuaikan lebar kontainer */
    height: auto; /* Memastikan aspek rasio gambar tetap */
    max-height: 100%; /* Menentukan tinggi maksimum gambar */
}

.fs-aja {
    margin-top: 80px;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    margin: 5px;
    margin-bottom: 15px;
}

.fs-ajaa {
    margin-top: 80px;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 100%;
    margin: 5px;
    margin-bottom: 15px;
}

.info-link {
    color: red;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.location-texted {
    color: grey;
    text-align: center;
    width: 100%;
    margin: auto;
}
/* CSS untuk gambar pada langkah-step */
.icon-step img {
    max-width: 900px; /* Ubah sesuai dengan ukuran yang diinginkan */
    display: block;
   
}

/* section location */
.location {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

.location h1 {
    font-size: 28px;
    font-weight: bold; /* Membuat teks h1 menjadi tebal */
    margin-bottom: 10px;
}

.location p {
    font-size: 20px;
    color: #555;
}


.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Menyelaraskan konten secara horizontal di tengah */
    text-align: center; /* Menyelaraskan teks di tengah */
}

/* Individual spacing for text elements */

   

/* Additional spacing for other elements if needed */
.icon-step img {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}


.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* Rasio aspek 16:9 (9 / 16 * 100) */
    height: 0; /* Mengatur tinggi 0 untuk menjaga rasio aspek */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
